
@{
	ViewData["Title"] = "Admin panel";
	string lang = _Functions.GetCurrentLanguage(this);
}

<br />
<h3>@Loc.Get("error-404", lang)</h3>
<button>@Loc.Get("go-back-button", lang)</button>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

