
# VS & compiler folders:
**/.vs/
**/bin/
**/obj/
**/.deps/

# Windows shortcuts
*.lnk

# I don't want you to see this
**/drivers/
Paymenting.cs
PaymentsCallbackController.cs
CONFIG.XML
alzheimer.txt
alzheimer.txt