
# VS & compiler folders:
**/.vs/
**/bin/
**/obj/
**/.deps/
**/.distfiles/
**/.setups/

# Windows shortcuts
*.lnk

# I don't want you to see this... yet?
**/drivers/
PaymentsServices.cs
PaymentsCallbackController.cs
CONFIG.XML
alzheimer.txt
alzheimer.txt