<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<master_key>qwerty12</master_key>
	<domain_name_or_ipv4></domain_name_or_ipv4>
	<ipv4_address></ipv4_address>
	<ipv6_address></ipv6_address>
	<ipv6_support>False</ipv6_support>
	<api_listen_port>1444</api_listen_port>
	<vpn_listen_port>51140</vpn_listen_port>
	<internet_interface_name>eth0</internet_interface_name>
	<dnsv4>1.1.1.1, 1.0.0.1</dnsv4>
	<dnsv6>2606:4700:4700::1111, 2606:4700:4700::1001</dnsv6>
</Config>