<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<master_key>qwerty12</master_key>
	<strict_mode>False</strict_mode>
	<db_host>localhost</db_host>
	<db_user>root</db_user>
	<db_password>toor</db_password>
	<db_name>floppyvpn_database</db_name>
	<db_backups_folder>/var/floppyvpn_db_backups</db_backups_folder>
	<db_port>3306</db_port>
	<payment_service_1_api_key>qWeRtY</payment_service_1_api_key>
	<payment_service_1_ipn>http://localhost/callback</payment_service_1_ipn>
</Config>